CitizenMP.Server.exe
CitizenMP.Server.exe.config
NLog.config
/cache/
/resources/\[local\]/
resources.old
autocompletion
testModule
serverkey.cfg
resources/init/cl_init.js
resources/init/sv_init.js
start_fivem_server.bat
node_modules